In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn import ensemble

# Bank Loan Decision Tree

In [2]:
df = pd.read_excel('Bank_Personal_Loan_Modelling.xlsx',sheet_name=1)

In [3]:
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [4]:
df = df.drop('ID',axis=1)
df = df.drop('ZIP Code',axis=1)

In [5]:
df.head()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,0,1,0,0,0
1,45,19,34,3,1.5,1,0,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,0,1

In [6]:
from sklearn import tree

In [7]:
df.isnull().sum()

Age                   0
Experience            0
Income                0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [8]:
predictor = df[['Age','Experience','Income','Family','CCAvg','Education','Mortgage','Securities Account','CD Account','Online','CreditCard']]

In [9]:
y= df['Personal Loan']

In [10]:
rf_model = ensemble.RandomForestClassifier(n_estimators=1000,criterion='gini',max_features=2,oob_score=True)

In [11]:
feature = ['Age','Experience','Income','Family','CCAvg','Education','Mortgage','Securities Account','CD Account','Online','CreditCard'];

In [12]:
feature

['Age',
 'Experience',
 'Income',
 'Family',
 'CCAvg',
 'Education',
 'Mortgage',
 'Securities Account',
 'CD Account',
 'Online',
 'CreditCard']

In [13]:
rf_model.fit(X = df[feature],y = df['Personal Loan'])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features=2, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [14]:
print('oob score')
print(rf_model.oob_score_)

oob score
0.9872

In [15]:
for fea, imp in zip(feature,rf_model.feature_importances_):
    print(fea, ' = ',imp)

Age  =  0.044529951914800664
Experience  =  0.043289655914562165
Income  =  0.350939999920017
Family  =  0.09882943447642488
CCAvg  =  0.17831906636908584
Education  =  0.1623393244473371
Mortgage  =  0.043514791250092624
Securities Account  =  0.005571262423648799
CD Account  =  0.054343757463670296
Online  =  0.008248053563019497
CreditCard  =  0.010074702257341082

In [16]:
#Income CCAvg Education

In [17]:
tree_model = tree.DecisionTreeClassifier(max_depth=20)

In [18]:
tree_model.fit(X =df[feature],y=df['Personal Loan'] )

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=20,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [19]:
with open('tree.dot','w') as f:
    f = tree.export_graphviz(tree_model,feature_names=['Age','Experience','Income','Family','CCAvg','Education','Mortgage','Securities Account','CD Account','Online','CreditCard'],out_file=f);

In [20]:
tree_model.score(X=df[feature],y=df['Personal Loan'])

1.0

# Attrition Decision Tree

In [21]:
#EDA

In [22]:
df = pd.read_csv('general_data.csv')

In [23]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [24]:
encoder = preprocessing.LabelEncoder()

In [25]:
encoder = encoder.fit_transform(df['Attrition'])

In [26]:
encoder

array([0, 1, 0, ..., 0, 0, 0])

In [27]:
df['Attrition'] = encoder

In [28]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [29]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [30]:
df.shape

(4410, 24)

In [31]:
df['NumCompaniesWorked'].mean()

2.6948303347756775

In [32]:
df['NumCompaniesWorked'] = np.where(df['NumCompaniesWorked'].isnull(),2,df['NumCompaniesWorked'])

In [33]:
df['NumCompaniesWorked'].isnull().sum()

0

In [34]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [35]:
df['Over18'].value_counts()

Y    4410
Name: Over18, dtype: int64

In [36]:
df['EmployeeCount'].value_counts()

1    4410
Name: EmployeeCount, dtype: int64

In [37]:
encoder = preprocessing.LabelEncoder()

In [38]:
for i in df.select_dtypes(include=['object']):
        enc = encoder.fit_transform(df[i]) 
        df[i] = enc

In [39]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,1,1,0,...,1.0,0,11,8,0,1.0,6,1,0,0
1,31,1,1,1,10,1,1,1,2,0,...,0.0,0,23,8,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,3,1,...,1.0,0,15,8,3,5.0,2,5,0,3
3,38,0,0,1,2,5,1,1,4,1,...,3.0,0,11,8,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,5,1,...,4.0,0,12,8,2,9.0,2,6,0,4

In [40]:
df.dtypes

Age                          int64
Attrition                    int32
BusinessTravel               int32
Department                   int32
DistanceFromHome             int64
Education                    int64
EducationField               int32
EmployeeCount                int64
EmployeeID                   int64
Gender                       int32
JobLevel                     int64
JobRole                      int32
MaritalStatus                int32
MonthlyIncome                int64
NumCompaniesWorked         float64
Over18                       int32
PercentSalaryHike            int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears          float64
TrainingTimesLastYear        int64
YearsAtCompany               int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [41]:
df.duplicated().sum()

0

In [42]:
df.drop('EmployeeID',axis=1,inplace=True)

In [43]:
df.drop('Over18',axis=1,inplace=True)
df.drop('EmployeeCount',axis=1,inplace=True)
df.drop('StandardHours',axis=1,inplace=True)

In [44]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'Gender', 'JobLevel', 'JobRole',
       'MaritalStatus', 'MonthlyIncome', 'NumCompaniesWorked',
       'PercentSalaryHike', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'YearsAtCompany', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [45]:
df['TotalWorkingYears'].isnull().sum()

9

In [46]:
df.TotalWorkingYears.mean()

11.279936378095888

In [47]:
df['TotalWorkingYears']=np.where(df['TotalWorkingYears'].isnull(),11,df['TotalWorkingYears'])

In [48]:
df['TotalWorkingYears']

0        1.0
1        6.0
2        5.0
3       13.0
4        9.0
        ...
4405    10.0
4406    10.0
4407     5.0
4408    10.0
4409    11.0
Name: TotalWorkingYears, Length: 4410, dtype: float64

In [49]:
#okkkkk time to create Decision Tree

In [50]:
feature = ['Age', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'Gender', 'JobLevel', 'JobRole',
       'MaritalStatus', 'MonthlyIncome', 'NumCompaniesWorked',
       'PercentSalaryHike', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'YearsAtCompany', 'YearsSinceLastPromotion',
       'YearsWithCurrManager']

In [51]:
len(feature)*2

38

In [52]:
tree_model = tree.DecisionTreeClassifier(max_depth=20)

In [53]:
tree_model = tree_model.fit(X = df[feature],y=df['Attrition'])

In [54]:
with open('attrition.dot','w') as f:
    f = tree.export_graphviz(tree_model,feature_names=feature,out_file=f)

In [55]:
tree_model.score(X= df[feature],y=df['Attrition'])

1.0

In [56]:
predictor = pd.DataFrame([df['Age'], df['BusinessTravel'], df['Department'], df['DistanceFromHome'],
       df['Education'], df['EducationField'], df['Gender'], df['JobLevel'], df['JobRole'],
       df['MaritalStatus'], df['MonthlyIncome'], df['NumCompaniesWorked'],
       df['PercentSalaryHike'], df['StockOptionLevel'], df['TotalWorkingYears'],
       df['TrainingTimesLastYear'], df['YearsAtCompany'], df['YearsSinceLastPromotion'],
       df['YearsWithCurrManager']]).T

In [57]:
predictor.head()

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51.0,2.0,2.0,6.0,2.0,1.0,0.0,1.0,0.0,1.0,131160.0,1.0,11.0,0.0,1.0,6.0,1.0,0.0,0.0
1,31.0,1.0,1.0,10.0,1.0,1.0,0.0,1.0,6.0,2.0,41890.0,0.0,23.0,1.0,6.0,3.0,5.0,1.0,4.0
2,32.0,1.0,1.0,17.0,4.0,4.0,1.0,4.0,7.0,1.0,193280.0,1.0,15.0,3.0,5.0,2.0,5.0,0.0,3.0
3,38.0,0.0,1.0,2.0,5.0,1.0,1.0,3.0,1.0,1.0,83210.0,3.0,11.0,3.0,13.0,5.0,8.0,7.0,5.0
4,32.0,2.0,1.0,10.0,1.0,3.0,1.0,1.0,7.0,2.0,23420.0,4.0,12.0,2.0,9.0,2.0,6.0,0.0,4.0

In [58]:
tree_model = tree.DecisionTreeClassifier(max_depth=38)

In [59]:
tree_model = tree_model.fit(X =predictor,y=df['Attrition'])

In [60]:
df[feature]

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,2,2,6,2,1,0,1,0,1,131160,1.0,11,0,1.0,6,1,0,0
1,31,1,1,10,1,1,0,1,6,2,41890,0.0,23,1,6.0,3,5,1,4
2,32,1,1,17,4,4,1,4,7,1,193280,1.0,15,3,5.0,2,5,0,3
3,38,0,1,2,5,1,1,3,1,1,83210,3.0,11,3,13.0,5,8,7,5
4,32,2,1,10,1,3,1,1,7,2,23420,4.0,12,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,2,1,5,4,3,0,1,6,2,60290,3.0,17,1,10.0,5,3,0,2
4406,29,2,1,2,4,3,1,1,2,0,26790,2.0,15,0,10.0,2,3,0,2
4407,25,2,1,25,2,1,1,2,7,1,37020,0.0,20,0,5.0,4,4,1,2
4408,42,2,2,18,2,3,1,1,2,0,23980,0.0,14,1,10.0,2,9,7,8
4409,40,2,1,28,3,3,1,2,2,0,54680,0.0,12,0,11.0,6,21,3,9

In [64]:
tree_model.score(X=predictor,y=df['Attrition'])

1.0

# Tatanic Decision Tree

In [67]:
df1 = pd.read_csv('train.csv')

In [68]:
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [69]:
enc = encoder.fit_transform(df1['Sex'])

In [70]:
df1['Sex'] = enc

In [71]:
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S

In [72]:
tatnic_decision = tree.DecisionTreeClassifier()

In [80]:
tatnic_decision = tatnic_decision.fit(X = df1[['Sex','Age','Fare']],y= df1['Survived'])

In [81]:
tatnic_decision.score(X = df1[['Sex','Age','Fare']],y=df1['Survived'])

0.9763779527559056

In [87]:
with open('tatanic.dot','w') as f:
    f = tree.export_graphviz(tatnic_decision,feature_names=['sex','Age','Fare'],out_file=f)

Random forest for Attrition

In [82]:
rf_model = ensemble.RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [84]:
re_model = rf_model.fit(X=df[feature],y=df['Attrition'])

In [85]:
re_model.oob_score_

1.0

In [83]:
feature

['Age',
 'BusinessTravel',
 'Department',
 'DistanceFromHome',
 'Education',
 'EducationField',
 'Gender',
 'JobLevel',
 'JobRole',
 'MaritalStatus',
 'MonthlyIncome',
 'NumCompaniesWorked',
 'PercentSalaryHike',
 'StockOptionLevel',
 'TotalWorkingYears',
 'TrainingTimesLastYear',
 'YearsAtCompany',
 'YearsSinceLastPromotion',
 'YearsWithCurrManager']

In [86]:
for fea, imp in zip(feature,re_model.feature_importances_):
    print(fea, ' = ',imp)

Age  =  0.0968375640544483
BusinessTravel  =  0.027806501789134224
Department  =  0.02623056664243398
DistanceFromHome  =  0.07073776298757743
Education  =  0.04094489122200836
EducationField  =  0.04130485895774783
Gender  =  0.018456917896685843
JobLevel  =  0.037514826609906536
JobRole  =  0.05589198921090564
MaritalStatus  =  0.03959799779073215
MonthlyIncome  =  0.09499606970042045
NumCompaniesWorked  =  0.05490168405459167
PercentSalaryHike  =  0.06538643309443165
StockOptionLevel  =  0.03439690939948023
TotalWorkingYears  =  0.08607138589441693
TrainingTimesLastYear  =  0.04488185981608088
YearsAtCompany  =  0.06750927767849732
YearsSinceLastPromotion  =  0.04308756981792861
YearsWithCurrManager  =  0.053444933382571946

In [ ]:
age