## Question 1
##### Assuming that we have some email addresses in the "username@companyname.com" format, please write programto print the company name of a given email address. Both user names and company names are composed of letters only.

In [1]:
def email_split(args):
    str1 = args
    y = str1.partition("@")
    x = y[2] . partition(".")
    print(x[0])
email_split("doe@gmail.com")

gmail

### Question 2:
##### Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically.

In [2]:
y = input("enter a string: ")
y = y.split(",")
y = sorted(y)
print(",".join(y))

enter a string: Himanshu, Dilip, himanshu, Chaudhari
 Chaudhari, Dilip, himanshu,Himanshu

### Question 3:
##### Create your own Jupyter Notebook for Sets.

In [4]:
#set
set1 = {"himanshu" , "Dilip" , "Ravan" , "Yash"}
print(set1)

{'Dilip', 'himanshu', 'Yash', 'Ravan'}

In [6]:
#append to set
set1.add("Yogesh")
print(set1)   # appending

{'Dilip', 'Ravan', 'himanshu', 'Yash', 'Yogesh'}

In [11]:
#searching items
print("Ravan"  in set1)
print('Rajesh' in set1)

True
False

{1, 2, 3, 5}

In [12]:
#updating set
set1.update(["Jignesh","Ram","Rohit","Virat"])
print(set1)

{'Dilip', 'Rohit', 'Jignesh', 'Ravan', 'himanshu', 'Yash', 'Virat', 'Ram', 'Yogesh'}

In [13]:
print(len(set1))

9

In [16]:
#set1.remove("Ram")
set1.remove("Jignesh")
print(set1)
print(len(set1))

{'Dilip', 'Rohit', 'Ravan', 'himanshu', 'Yash', 'Virat', 'Yogesh'}
7

In [17]:
set1.clear()
print(len(set1))

0

## Question 4:
#### Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.Input Format:The first line contains n-1 numbers with each number separated by a space.
#### Output Format:
#### Print the missing number
#### Example:
#### Input:1 2 4 6 3 7 8
#### Output:5
#### Explanation:
#### In the above list of numbers 5 is missing and hence 5 is the input

In [2]:
a = [int(i) for i in input('Input:').split()]
set1 = [i for i in range(min(a),max(a)) if i not in a]
print('Output:',set1[0])

Input:1 2 3 4 6 7 8 9
Output: 5

### Question 5:
##### With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
##### Example:
##### If the input list is
##### 12 24 35 24 88 120 155 88 120 155
##### Then the output should be
##### 12 24 35 88 120 155
##### Explanation:
##### Third, seventh and ninth element of the list L has been removed because it was already present.
##### Input Format:
##### In one line take the elements of the list L with each element separated by a space.
##### Output Format:
##### Print the elements of the modified list in one line with each element separated by a space.
##### Example:
##### Input: 12 24 35 24
##### Output:
##### 12 24 35

In [1]:
a = [int(i) for i in input().split()]
for i in set(a):
    print(i,end=' ')

3 2 1 4 4 3 5 2 6 7 5 4
1 2 3 4 5 6 7